// Global Styling

    // Colour Palette
    $black: black; 
    $blackTransparent: rgba(0, 0, 0, 0.7); 
    $blue: rgb(0,36,230);
    $gold: gold;
    $red: red;
    $white: rgb(227, 227, 227);

html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

body {
    font-size: 2.3rem;
    line-height: 3rem;
    letter-spacing: 0.2rem;
    // Photo by Dariusz Sankowski on Unsplash
    background-image: url(`../../../assets/dariuszSankowskiMapUnsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.wrapper {
    max-width: 1450px;
    width: 80%;
    margin: 0 auto;
}

// span global styles
.blueColon {
    color: $blue;
    text-shadow: $black 3px 3px 10px;
}

.numberColor {
    color: $gold;
}

.goldVariable {
    color: $gold;
    text-shadow: $black 3px 3px 10px;
}

.islandSearched {
    color: $red;
    text-shadow: $black 3px 3px 10px;
}

// Transparent background boxes
.gameRules,
.gameInfo,
.islandGrid {
    background-color: $blackTransparent;
    padding: 0 20px;
    margin-top: 50px;
}

.updatedGameInfo,
.playAgainButtonBox  {
    background-color: $blackTransparent;
    padding-bottom: 50px;
}

.updatedGameInfo p {
    color: $gold;
    text-align: center;
}

// button styles
fieldset,
.playAgainButtonBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
