h1,
h2 {
    color: $gold;
    text-shadow: $black 1px 1px 10px;
    padding: 10px 0;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

header .gameRules {
    background-color: $blackTransparent;
    padding: 50px 20px;
    padding-left: 50px;
}



header div p {
    color: $white;
    text-shadow: $black 3px 3px 10px;
    padding: 20px 0;
}

input[type="text"] {
    border: $gold;
}
input::placeholder {
    color: $gold;
    background-color: $black;
}