h1,
h2 {
    color: $gold;
    text-shadow: $black 1px 1px 10px;
    padding: 10px 0;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 7rem;
    padding-bottom: 30px;
    line-height: 7rem;
}

h2 {
    font-size: 3.5rem;
}

header .gameRules {
    background-color: $blackTransparent;
    padding: 50px 50px;
}

header div p {
    color: $white;
    text-shadow: $black 3px 3px 10px;
    padding: 20px 0;
}

// button styles

input[type="text"] {
    border: $gold;
    max-width: 250px;
    padding: 10px;
}

input[type="submit"],
input[type="button"],
input::placeholder {
    color: $blue;
    background-color: rgb(233, 233, 233);
    border: $gold;
}

input[type="submit"]{
    padding: 0 10px;
}

.islandButtons {
    padding: 50px;
}

.islandButtonsIcon1,
.islandButtonsIcon2,
.islandButtonsIcon3 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

// island images styles

// The Noun Project Image By Ninejipjip 
.islandButtonsIcon1{
    background-image: url(`../../../assets/islandIconCyan.png);
}

// The Noun Project Image By Ninejipjip 
.islandButtonsIcon2{
    background-image: url(`../../../assets/islandIconPink.png);
}

// The Noun Project Image By Ninejipjip 
.islandButtonsIcon3{
    background-image: url(`../../../assets/islandIconGreen.png);
}



.playAgainButton {
    padding: 10px;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus{
    color: $black;
    background-color: $gold;
}

input[type="submit"]:active,
input[type="button"]:active {
    color: $red;
    background-color: $blue;
}